@font-face {
  font-family: Oneregular;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* ---------- main ---------- */
/*########################################*/
main section {
  background: url(../img/883-1920x1080.jpeg) center/cover no-repeat;
  height: 100vh;
  font-family: "Oneregular";
  text-align: center;
  color: white;
}

main section h2 {
  font-size: 48px;
  padding-top: 5rem;
  transition: all 0.5s;
}

main section h2:hover {
  color: #999;
}

main section p {
  width: 32rem;
  font-size: 32px;
  margin: 10rem 0 0 80rem;
  transition: all 0.5s;
}

main section p:hover {
  color: #9e9e9e;
}
/*########################################*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



/* footer  */

footer {
    height: 25vh;
}

footer section {
    background: url(../img/tree-6792528__340.png) no-repeat center/cover;  
    font-family: Roboto;
    }

footer h1 {
    width: 45%;
    padding: 30% 10% 40% 5%;;
    font-size: 3rem;
    color: #D31F1F;
}

footer a {
    text-decoration: none;
    color: #fff;
   
}

footer li {
    display: inline-block;
    padding: 1% 3%;    
}

footer nav {
    padding: 1% 0% 1% 28%;
    background-color: #D31F1F;
}



/* header */
body header {
    height: 100vh;
    background: url(../img/andrew-coelho-aL7SA1ASVdQ-unsplash.jpg) no-repeat center/cover;
}
header nav {
    background-color: red;
    color: white;
}
header nav ul li {
    display: inline-block;
    padding: 2% 0;
    
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: roboto;
    font-size: 1.5em;
}
header nav ul li a:hover {
    text-decoration: underline;
}
header nav ul li:nth-of-type(1) {
    margin-right: 65%;
}
header nav ul li:nth-of-type(3){
    padding: 0 5% 0 5%;
}
header h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: Oneregular;
    font-size: 3em;
    color: #fff;
}
header h2 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: Oneregular;
    font-size: 2em;
    color: #fff;
}


